<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="BoardMapper">
 
    <resultMap id="boardMap" type="com.spring.board.model.BoardModel">
        <id property="idx"            column="idx" />
    </resultMap>
 
    <select id="selectList" resultMap="boardMap">
        SELECT  * FROM board
    </select>
 
</mapper>
